body{
background: linear-gradient(135deg, #d31027, #ea384d);
}

#content{
    width: 1200px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.162);
    position: absolute;
    left: 160px;
    top: 50px;
}

#information{
    width: 1000px;
     height: 200px; 
    background-color: blue;
    position: relative;
    border-radius: 8px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#name{
    text-align: center;
    color: white;
}

#operation{
    width: 1000px;
     height: 270px; 
    background-color: rgb(13, 0, 255);
    position: relative;
    border-radius: 8px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#num1{
   width: 100px;
   height: 100px; 
   font-size: 50px;
   color:black;
   left: 15%;
   position: relative;
   margin-top: 10px;
   text-align: center;
}

#deno1{
   width: 100px;
   height: 100px; 
   font-size: 50px;
   color:rgb(4, 4, 4);
   left: 4%;
   position: relative;
   margin-top: 10px;
   top: 45%;
   text-align: center;
}

#operacion{
   width: 140px;
   height: 100px; 
   font-size: 50px;
   color:black;
   left: 8%;
   position: relative;
   margin-top: 10px;
   top: 25%;
   text-align: center;
}

#deno2{
     width: 100px;
   height: 100px; 
   font-size: 50px;
   color:rgb(0, 0, 0);
   left: 12%;
   position: relative;
   margin-top: 10px;
   top: 45%;
   text-align: center;
}

#num2{
     width: 100px;
   height: 100px; 
   font-size: 50px;
   color:rgb(0, 0, 0);
   left: 1%;
   position: relative;
   margin-top: 10px;
   top: 1%;
   text-align: center;
}

#result{
    width: 1000px;
    height: 500px;
    left: 70%;
    bottom: 25px;
    position: relative;
}

#equal{
    bottom: 600px;
    left: 850px;
    position: relative;
}

#boton1{
    width: 120px;
    height: 60px;
     bottom: 450px;
    left: 650px;
    position: relative;
}